#main{
    height: 500px;
    width: 100%;
  
    align-items: center;
   
}
#sub{
    height: fit-content;
    width: 100%;
   margin-top: 50px;
   display: flex;
   justify-content: center;
   font-size: 25px;
   font-weight: 600;
 
}
#sub input{
    height: 30px;
    width: auto;
    border: solid rgb(255, 6, 6);
}
#sub select{
    height: 35px;
    width: auto;
    border: solid rgb(255, 6, 6);
}
#sub button{
    margin-left: 10px;
    height: 35px;
    width: 100px;
    background-color: wheat;
    color: black;
    font-weight: 700;
}
#element{
    height: fit-content;
    width: 100%;
   margin-top: 50px;
   display: flex;
   justify-content: center;
   font-size: 25px;
  
   border: solid orange;
}

#edit{
    
    margin-left: 20px;
}
#delete{
    margin-left: 20px;
}
#sub1{
    height: fit-content;
    width: 100%;
   margin-top: 50px;
  
   font-size: 25px;
   font-weight: 600;
}